body {
    background: linear-gradient(75deg, #d9d1e0, #432d5c);
    font-family: 'PT Mono', Arial, sans-serif;
    font-weight: 400;
    font-size: 70px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#time {
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    display: block;
    user-select: none;
    margin: auto;
    /* justify-content: space-evenly; */
    /* padding: 30%; */
}